<?xml version="1.0"?>
<robot name="M3Pro" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find M3Pro_robot_description)/urdf/M3Pro.urdf.xacro"/>
  <xacro:include filename="$(find M3Pro_robot_description)/urdf/M3Pro_robot_gazebo_materials.xacro"/>
  <xacro:include filename="$(find M3Pro_robot_description)/urdf/M3Pro_robot_controllers.xacro"/>
  <xacro:include filename="$(find M3Pro_robot_description)/urdf/M3Pro_robot_sensors.xacro"/>

  <xacro:m3pro_body/>
  <xacro:gazebo_materials/>
  <xacro:ros2_control_plugin/>
  <xacro:sensor_plugins/>
</robot>
